# Example variables for ecommerce-ai platform

name               = "ecommerce-ai"
region             = "us-east-1"
cluster_name       = "ecommerce-ai-eks"
kubernetes_version = "1.29"
node_instance_type = "t3.medium"

# Networking
vpc_cidr        = "10.0.0.0/16"
azs             = ["us-east-1a", "us-east-1b"]
public_subnets  = ["10.0.0.0/24", "10.0.1.0/24"]
private_subnets = ["10.0.10.0/24", "10.0.11.0/24"]

# ECR repositories to create
 ecr_repositories = [
  "auth-service",
  "stock-service",
  "whatsapp-connector-service",
  "ai-orchestrator-service",
  "notification-service",
  "file-storage-service",
  "frontend",
]

# Optional RDS
create_rds             = false
rds_engine_version     = "15.5"
rds_instance_class     = "db.t4g.micro"
rds_allocated_storage  = 20
rds_username           = "appuser"
# rds_password        = "CHANGEME"
rds_db_name            = "appdb"

# Optional Frontend CDN
create_frontend_cdn = false
frontend_bucket     = "ecommerce-ai-frontend-example"
