# Copy to secrets.env and customize for your local-main simulated prod
database_url=postgresql://user:password@postgres:5432/auth_db
stock_database_url=postgresql://user:password@postgres:5432/stock_db
whatsapp_database_url=postgresql://user:password@postgres:5432/whatsapp_db
ai_database_url=postgresql://user:password@postgres:5432/ai_db
rabbitmq_url=amqp://guest:guest@rabbitmq.ecommerce.svc.cluster.local:5672/
secret_key=please-change-me
google_client_id=
google_client_secret=
gemini_api_key=
groq_api_key=
whatsapp_access_token=
whatsapp_phone_number_id=
whatsapp_api_version=v20.0
whatsapp_verify_token=
